@model IEnumerable<Order>

@foreach (var order in Model)
{
<div>
    <p>Id - @order.Id</p>
    <ul>
        @foreach (var product in order.ProductOrder)
        {
            <li>@product.Product.Name - @product.Count - @product.Price</li>
        }
    </ul>
    <p>Client - @order.Buyer.FirstName @order.Buyer.LastName</p>
    <p>Delivery - @order.Delivery.Name</p>
    <p>@order.Destination</p>
    <p>Total price - @order.TotalPrice</p>
</div>
}