@model Dictionary<Product, int>

@{
    ViewBag.Title = "Cart";
    Layout = "_Layout";
}

<h1>Cart</h1>

<table class="table table-sm table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Seller</th>
            <th scope="col">Quantity</th>
            <th scope="col">Count</th>
            <th scope="col">Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Key.Name</td>
                <td>@product.Key.Seller.FirstName @product.Key.Seller.LastName</td>
                <td>@product.Key.Quantity</td>
                <td>@product.Value</td>
                <td>@product.Key.Price</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Total</td>
            <td class="text-right"></td>
            <td class="text-right">@Model.Keys.Sum(pr => pr.Price)</td>
        </tr>
    </tfoot>

</table>