@model List<Product>

@{
    ViewBag.Title = "Cart";
    Layout = "_Layout";
}

<h1>Cart</h1>

<table class="table table-sm table-striped">
    <thead class="thead-dark">
    <tr>
        <th scope="col">№</th>
        <th scope="col">Name</th>
        <th scope="col">Seller</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
    </tr>
    </thead>
    <tbody>
    @for (int i = 0; i < Model.Count; i++)
    {
        <tr>
            <td class="text-right">@(i+1)</td>
            <td>@Model[i].Name</td>
            <td>@Model[i].Seller.FirstName @Model[i].Seller.LastName</td>
            <td>
                <div>
                    <ul>
                        
                    </ul>
                </div>
                
            </td>
            <td class="text-right">@Model[i].Quantity</td>
            <td class="text-right">@Model[i].Price</td>
        </tr>
    }
    </tbody>
    <tfoot>
    <tr>
        <td colspan="3" class="text-right">Total</td>
        <td class="text-right"></td>
        <td class="text-right">@Model.Sum(pr=>pr.Price)</td>
    </tr>
    </tfoot>
    
</table>