@model RegisterModel

<h2>Registration</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    @Html.LabelFor(m => m.Email, "Enter email")<br/>
    @Html.TextBoxFor(m => m.Email, new {type = "email"})<br/>
    @Html.LabelFor(m => m.Password, "Enter password")<br/>
    @Html.TextBoxFor(m => m.Password)<br/>
    @Html.LabelFor(m => m.ConfirmPassword, "Confirm password")<br/>
    @Html.TextBoxFor(m => m.ConfirmPassword)<br/>
    @Html.LabelFor(m => m.FirstName, "FirstName")<br/>
    @Html.TextBoxFor(m => m.FirstName)<br/>
    @Html.LabelFor(m => m.LastName, "LastName")<br/>
    @Html.TextBoxFor(m => m.LastName)<br/>
    <div>
        <input type="submit" value="Register" />
    </div>
}
    