@model RegisterModel

<div class="fullscreen-wrapper">
    <div class="seller">
        <img class="seller-body" src="/images/registration/seller_body.svg" />
        <img class="seller-hand" src="/images/registration/seller_hand.svg" />
    </div>
    <div class="carrot">
        <img class="carrot-image" src="/images/registration/carrot.svg" />
    </div>
    <div class="catcher">
        <img src="/images/registration/catcher.svg" />
    </div>
    <div class="basket-back">
        <img src="/images/registration/basket_back.svg" />
    </div>
    <div class="basket">
        <img src="/images/registration/basket.svg" />
    </div>


    <div class="register-wrapper" data-aos="fade-up">
        @using (Html.BeginForm("RegisterAsBuyer", "Account", FormMethod.Post))
        {
            <div class="validation" asp-validation-summary="ModelOnly"></div>
            <div class="register-item">
                @Html.LabelFor(m => m.Email, "Enter email", new { @class = "email-label" })<br />
                @Html.TextBoxFor(m => m.Email, new { type = "email" })<br />
            </div>
            <div class="register-item">
                @Html.LabelFor(m => m.Password, "Enter password")<br />
                @Html.TextBoxFor(m => m.Password, new {type="password"})<br />
                <span asp-validation-for="Password"></span>
            </div>
            <div class="register-item">
                @Html.LabelFor(m => m.ConfirmPassword, "Confirm password")<br />
                @Html.TextBoxFor(m => m.ConfirmPassword, new {type="password"})<br />
                <span asp-validation-for="ConfirmPassword"></span>
            </div>
            <div class="register-item">
                @Html.LabelFor(m => m.FirstName, "First Name")<br />
                @Html.TextBoxFor(m => m.FirstName)<br />
                <span asp-validation-for="FirstName"></span>
            </div>
            <div class="register-item">
                @Html.LabelFor(m => m.LastName, "Last Name")<br />
                @Html.TextBoxFor(m => m.LastName)<br />
                <span asp-validation-for="LastName"></span>
            </div>
            <div class="reg-button">
                <input class="proceed-register" type="submit" value="Register" />
                <div class="reg-button-wheat-left">
                    <img src="/icons/wheat.svg" />
                </div>
                <div class="reg-button-wheat-right">
                    <img src="/icons/wheat.svg" />
                </div>
            </div>
        }
    </div>
    </div>