@using EMarket.Controllers
@using Microsoft.AspNetCore.Mvc.Rendering
@model SellerRegisterModel



{
    <div class="fullscreen-wrapper">
        <div class="register-wrapper">
            @using (Html.BeginForm("RegisterAsSeller", "Account", FormMethod.Post))
            {
                <div class="validation" asp-validation-summary="ModelOnly"></div>
                <div class="register-item">
                    @Html.LabelFor(m => m.Email, "Enter email")
                    <br/>
                    @Html.TextBoxFor(m => m.Email, new {type = "email"})
                    <br/>
                </div>
                <div class="register-item">
                    @Html.LabelFor(m => m.Password, "Enter password")
                    <br/>
                    @Html.TextBoxFor(m => m.Password)
                    <br/>
                </div>
                <div class="register-item">
                    @Html.LabelFor(m => m.ConfirmPassword, "Confirm password")
                    <br/>
                    @Html.TextBoxFor(m => m.ConfirmPassword)
                    <br/>
                </div>
                <div class="register-item">
                    @Html.LabelFor(m => m.FirstName, "FirstName")
                    <br/>
                    @Html.TextBoxFor(m => m.FirstName)
                    <br/>
                </div>
                <div class="register-item">
                    @Html.LabelFor(m => m.LastName, "LastName")
                    <br/>
                    @Html.TextBoxFor(m => m.LastName)
                    <br/>
                </div>
                <div class="register-item">
                    @Html.LabelFor(m => m.City, "City")
                    <br/>
                    @Html.TextBoxFor(m => m.City)
                    <br/>
                </div>

                <div>
                    <input type="submit" value="Register"/>
                </div>
            }
        </div>
    </div>