@using EMarket.Controllers
@using Microsoft.AspNetCore.Mvc.Rendering
@model SellerRegisterModel



<div class="fullscreen-wrapper">
    <div class="volonteer">
        <img src="/images/seller_registration/volonteer.svg"/>
    </div>
    <div class="chicken_graphics">
        <div class="chicken">
            <img src="/images/seller_registration/chicken.svg"/>
        </div>
    </div>
    <div class="seller_registration_farmers">
        <img src="/images/seller_registration/seller_background.svg"/>
    </div>


    <div class="register-wrapper">
        @using (Html.BeginForm("RegisterAsSeller", "Account", FormMethod.Post))
        {
            <div class="validation" asp-validation-summary="ModelOnly"></div>
            <div class="register-item">
                @Html.LabelFor(m => m.Email, "Enter email")
                <br/>
                @Html.TextBoxFor(m => m.Email, new {type = "email"})
                <br/>
            </div>
            <div class="register-item">
                @Html.LabelFor(m => m.Password, "Enter password")
                <br/>
                @Html.TextBoxFor(m => m.Password, new {type = "password"})
                <br/>
            </div>
            <div class="register-item">
                @Html.LabelFor(m => m.ConfirmPassword, "Confirm password")
                <br/>
                @Html.TextBoxFor(m => m.ConfirmPassword, new {type = "password"})
                <br/>
            </div>
            <div class="register-item">
                @Html.LabelFor(m => m.FirstName, "First Name")
                <br/>
                @Html.TextBoxFor(m => m.FirstName)
                <br/>
            </div>
            <div class="register-item">
                @Html.LabelFor(m => m.LastName, "Last Name")
                <br/>
                @Html.TextBoxFor(m => m.LastName)
                <br/>
            </div>
            <div class="register-item">
                @Html.LabelFor(m => m.City, "City")
                <br/>
                @Html.TextBoxFor(m => m.City)
                <br/>
            </div>

            <div class="reg-button">
                <input class="proceed-register" type="submit" value="Register"/>
                <div class="reg-button-wheat-left">
                    <img src="/icons/wheat.svg"/>
                </div>
                <div class="reg-button-wheat-right">
                    <img src="/icons/wheat.svg"/>
                </div>
            </div>
        }
    </div>
</div>