@model Product

@{
    ViewData["Title"] = Model.Name;
    Layout = "_Layout";
}


<h1>@Model.Name</h1>
<p><strong>@Model.Category</strong></p>
<p>@Model.Description</p>
<p>Price <strong>@Model.Price</strong></p>
<form action="@Url.Action("AddItem", "Cart")" method="post">
    <input type="hidden" name="Id" value="@Model.Id"/>
    <button class="btn btn-outline-success" type="submit" >Add to the cart</button>
</form>