@model System.Collections.Generic.List<EMarket.Models.Product>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="products-container">
    <div class="products-cart">
        <h2>Products</h2>
        @foreach (var product in Model)
        {
            <div>

                <p>@product.Name</p>
                <p>@product.Price</p>
                <p>@product.Quantity</p>
                <p>@product.Description</p>
                @Html.ActionLink("Details", "View", new {id = product.Id})
            </div>
        }
    </div>
</div>