@using Models
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - EMarket</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body>
<nav>
    <span class="navbar-text ml-auto">
        @{
            Cart cart;
            if (!Context.Session.TryGetCart(out cart))
            {
                cart = new Cart();
            }
            if (Context.Session.TryGetCart(out  cart) && cart.Items.Count > 0)
            {
                <a href="@Url.Action("Index", "Cart")">Products @cart.Items.Count for price @cart.TotalPrice</a>
            }
            else
            {
                @:Cart is empty
            }
        }
    </span>
</nav>

@RenderBody()

<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>