@using Models
@using System.Security.Claims
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="viewport" content="width=device-width, initial-scale = 0.86, maximum-scale=3.0, minimum-scale=0.86">
    <title>@ViewData["Title"] - EMarket</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
<div class="progressbar"></div>
<div class="scrollpath"></div>
<div class="desktop-nav">
    @if (User.Identity == null || !User.Claims.Any())
    {
        <div class="container">
            <div class="authentication-buttons-wrapper" data-aos="fade-down">
                <div class="header-left">
                    <a asp-action="PointsOfProduction" asp-controller="Map" class="button production-button">Production Points</a>

                </div>
                <div class="authentication-buttons">
                    <a class="button login-button">
                        login
                        <div class="wheat-login-left">
                            <img src="icons/wheat.svg" />
                        </div>
                        <div class="wheat-login-right">
                            <img src="icons/wheat.svg" />
                        </div>
                    </a>
                
                    <a asp-action="RegisterAsBuyer" asp-controller="Account" class="button register-button">register</a>
                    <a asp-action="RegisterAsSeller" asp-controller="Account" class="button register-button">register as a seller</a>
                </div>
            </div>
        
            <div class="login-modal">
                <div class="login-popup">
                    <div class="close-modal">
                        <img src="/icons/close.svg" />
                    </div>
                    <h1>Where to login?</h1>
                    <div class="login-popup-buttons">
                        <a asp-action="Login" asp-controller="Account">
                            <div class="login-button-popup">
                                <img src="/icons/farmer.svg" />
                            </div>
                        </a>
                        <a href="Account/google-signin">
                        <div class="login-button-gmail">
                            <img src="/icons/gmail.svg" />
                        </div>
                        </a>
                    </div>
                </div>
                <div class="login-popup-blur">

                </div>
            </div>
        </div>
    }
    else
    {

        <header>
            <div class="header-container">
                <div class="header-left">
                    <a asp-action="PointsOfProduction" asp-controller="Map" class="button production-button">Production Points</a>
                </div>
                <div class="home">
                    <img  src="/icons/home.svg" />
                </div>
                <div class="user">
                    <div class="user-information">
                        <div class="name-surname">
                            <h3>@User.FindFirst(u => u.Type == ClaimTypes.GivenName).Value</h3>

                            <h3>@User.FindFirst(u => u.Type == ClaimTypes.Surname).Value</h3>
                            <img class="settings" src="/icons/settings.svg" />

                        </div>
                    </div>
                    <div class="user-settings">
                        <a asp-action="Logout" asp-controller="Account" class="button logout-button">Log out</a>
                    </div>
                </div>
            </div>
        </header>
    }
        
</div>
<div class="mobile-nav">
    <div class="menu">
        <img src="/icons/menu.svg" />
    </div>
    <div class="mobile-nav-wrapper">
        <div class="mobile-nav-body">
            <div class="close-mobile">
                <img class="settings" src="/icons/settings.svg" />

                <img src="/icons/close.svg"/>
            </div>
            <div class="mobile-nav-center">
                @if (User.Identity == null || !User.Claims.Any())
                {
                    <div class="mobile-buttons">
                        <h3>Login</h3>
                        <div class="mobile-login-buttons">
                            <a asp-action="Login" asp-controller="Account">
                                <div class="mobile-login-farm">
                                    <img src="/icons/farmer.svg" />
                                </div>
                            </a>
                            <a asp-action="GoogleLogin" asp-controller="Account">
                                <div class="mobile-login-gmail">
                                    <img src="/icons/gmail.svg" />

                                </div>
                            </a>
                        </div>
                        <div class="mobile-register-buttons">
                            <a asp-action="RegisterAsBuyer" asp-controller="Account" class="button register-button">register</a>
                            <a asp-action="RegisterAsSeller" asp-controller="Account" class="button register-button">register as a seller</a>
                        </div>
                    </div>
                }
                else
                {
                    <div class="mobile-header">
                        <div class="user">
                            <div class="user-information">
                                <div class="name-surname">
                                    <h3>@User.FindFirst(u => u.Type == ClaimTypes.GivenName).Value</h3>
                                    <h3>@User.FindFirst(u => u.Type == ClaimTypes.Surname).Value</h3>

                                </div>
                            </div>
                            <a asp-action="Logout" asp-controller="Account" class="button logout-button">Log out</a>
                        </div>
                    </div>
                }
                <div class="mobile-body">
                    <div class="home">
                        <img  src="/icons/home.svg" />
                    </div>
                    <a asp-action="PointsOfProduction" asp-controller="Map" class="button production-button">Production Points</a>
                </div>
            </div>
        </div>
    </div>
</div>




@RenderBody()

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)

</body>
</html>